html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/** --------------------------------------------------------------
* Typography.
* 
*/
body {
  color: #222;
  font: 100%/1.375 Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
  margin-bottom: 22px;
}
b,
strong {
  font-weight: bold;
}
i,
em {
  font-style: italic;
}
pre,
code {
  font: 1em/1.375 monospace;
}
/* headers */

h1 {
  font-size: 2.375em;
  line-height: 1.1579;
  margin-bottom: 22px;
}
/* Lists */

li ul,
li ol {
  margin: 0;
}
ul,
ol {
  margin: 0.6875em 1.5em 1.375em 0;
  padding-left: 1.5em;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}

/* Tables. */

table {
  margin-bottom: 1.375em;
  width: 100%;
}
caption {
  text-align: left;
  font-style: italic;
}
thead {
  border-bottom: 2px solid #222;
}
th {
  vertical-align: bottom;
  font-weight: bold;
  text-align: left;
}
th,
td {
  padding: 5px 10px 5px 5px;
}
tbody tr {
  border-bottom: 1px solid #eee;
}
tbody tr:hover {
  color: #000;
}
tfoot {
  font-style: italic;
}

/** --------------------------------------------------------------
* Colors.
* 
*/
.black {
  color: #000;
}
.blue {
  color: #049cdb;
}
.green {
  color: #46a546;
}
.red {
  color: #9d261d;
}
.yellow {
  color: #ffc40d;
}
.orange {
  color: #f89406;
}
/** --------------------------------------------------------------
* Page layout.
* 
*/
 
body {
  max-width: 940px;
  margin: 8px auto;
}

#container {
  margin: 2em auto;
  padding: 1em;
}
 
/**
  * Here comes specific style for a certain test program.
  */
#container {
  position: relative;
  height: 300px;
}
#table {
  width: 212px;
  height: 500px;
  position: absolute;
  top: -20px;
  left: 700px;
  padding-left: 2px;
  border: 2px solid #285d28;
  background-color: #46a546;
  box-shadow: 5px 5px 5px 5px #555;
  border-radius: 5px;
}
#status {
  width: 600px;
  height: 50px;
  position: absolute;
  top: 50px;
}
#log {
  width: 600px;
  height: 200px;
  position: absolute;
  top: 102px;
  overflow: auto;
}
.number {
  width: 60px;
  height: 30px;
  transition: all 0.3s ease-in-out;
}
.number.green {
  float: left;
  color: #fff;
  background-color: #46a546;
  border: 2px solid #378137;
  text-align: center;
  border-radius: 40px;
  top: 10px;
  margin: 2px;
  font-size: 1.2em;
  width: 196px;
}
.number.red {
  float: left;
  color: #fff;
  background-color: #9d261d;
  border: 2px solid #721c15;
  text-align: center;
  border-radius: 40px;
  top: 10px;
  margin: 2px;
  font-size: 1.2em;
}
.number.black {
  float: left;
  color: #fff;
  background-color: #000;
  border: 2px solid #000000;
  text-align: center;
  border-radius: 40px;
  top: 10px;
  margin: 2px;
  font-size: 1.2em;
}
.number.selected {
  font-weight: bold;
  border-color: #fefefe;
  font-size: 1.25em;
}
input,
select {
  font-size: inherit;
  width: 6em;
}
input[type=number] {
  text-align: right;
  width: 4em;
}

#form-messages {
  color: red;
}

#footer { 
  background-color: skyblue; position: absolute; bottom: 0
}